<h2>My restaurants:</h2>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
  <div>
    <%= link_to "New restaurant",
    new_restaurant_path(@restaurant) %>
  </div>
